name: publish

on:
  workflow_dispatch:
    inputs:
      distTag:
        description: "latest or prerelease"
        required: true
        default: "latest"

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js with GitHub Packages
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com/"
          scope: "@uplift-ltd"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache node_modules
        uses: actions/cache@main
        id: cache-node
        env:
          cache-name: npm-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}

      # Always run this, so it throws if the package and lockfile don't match
      - name: Install dependencies
        run:
          yarn install --non-interactive --frozen-lockfile --cache-folder ${{
          steps.yarn-cache-dir-path.outputs.dir }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    needs: dependencies
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js with GitHub Packages
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com/"
          scope: "@uplift-ltd"

      - name: Restore dependencies
        uses: actions/cache@main
        env:
          cache-name: npm-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}

      - run: yarn build

      - uses: actions/upload-artifact@v2
        with:
          name: build
          path: "./packages/*/dest/*"

  publish:
    runs-on: ubuntu-latest
    needs:
      - test
      - build
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js with GitHub Packages
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com/"
          scope: "@uplift-ltd"

      - name: Restore dependencies
        uses: actions/cache@main
        env:
          cache-name: npm-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}

      - uses: actions/download-artifact@v2
        with:
          name: build
          path: packages/

      - name: Bump versions (latest)
        if: github.event.inputs.distTag == 'latest'
        run: yarn lerna version --yes --conventional-commits
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish package (latest)
        if: github.event.inputs.distTag == 'latest'
        run: yarn lerna publish from-git
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump versions (prerelease)
        if: github.event.inputs.distTag == 'prerelease'
        run: yarn lerna version --yes --conventional-commits --conventional-prerelease
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish package (prerelease)
        if: github.event.inputs.distTag == 'prerelease'
        run: yarn lerna publish from-git --dist-tag prerelease
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
