name: teardown preview

on:
  pull_request:
    types: [closed]

jobs:
  teardown-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js with GitHub Packages
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Restore dependencies
        uses: actions/cache@v3
        env:
          cache-name: npm-cache
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{runner.os}}-build-${{env.cache-name}}-${{hashFiles('**/package-lock.json')}}-${{hashFiles('packages/*/package.json')}}

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4

      - name: Create Preview URL
        id: create-preview-url
        run: |
          echo "preview_url=nexus-$GITHUB_REF_NAME_SLUG_URL.surge.sh" >> $GITHUB_OUTPUT

      - name: Teardown preview
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
        run: |
          cd website
          npm ci
          npx surge --token $SURGE_TOKEN teardown ${{ steps.create-preview-url.outputs.preview_url }} || echo ""
