name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js with GitHub Packages
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Cache node_modules
        uses: actions/cache@v3
        id: cache-node
        env:
          cache-name: npm-cache
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{runner.os}}-build-${{env.cache-name}}-${{hashFiles('package-lock.json')}}-${{hashFiles('package.json')}}-${{hashFiles('packages/*/package.json')}}

      # Always run this, so it throws if the package and lockfile don't match
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    needs: dependencies
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js with GitHub Packages
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Restore dependencies
        uses: actions/cache@v3
        env:
          cache-name: npm-cache
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{runner.os}}-build-${{env.cache-name}}-${{hashFiles('package-lock.json')}}-${{hashFiles('package.json')}}-${{hashFiles('packages/*/package.json')}}

      - run: npm run build

      - name: Check no changes to nexus build
        run: |
          if [[ `git status --porcelain` ]]; then
            git status --porcelain
            echo "Found changes from build. If these are in packages/nexus/(cjs|esm)/ please check them in."
            git diff
            exit 1
          fi

      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: |
            ./packages/*/cjs/*
            ./packages/*/esm/*
          retention-days: 1

  test:
    runs-on: ubuntu-latest
    needs:
      - dependencies
      - build
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js with GitHub Packages
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Restore dependencies
        uses: actions/cache@v3
        env:
          cache-name: npm-cache
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{runner.os}}-build-${{env.cache-name}}-${{hashFiles('package-lock.json')}}-${{hashFiles('package.json')}}-${{hashFiles('packages/*/package.json')}}

      - uses: actions/download-artifact@v4
        with:
          name: build
          path: packages/

      - run: npm run prettier:check

      - run: npm run eslint:check

      - run: npm run test

  docs:
    runs-on: ubuntu-latest
    needs:
      - dependencies
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js with GitHub Packages
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Restore dependencies
        uses: actions/cache@v3
        env:
          cache-name: npm-cache
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{runner.os}}-build-${{env.cache-name}}-${{hashFiles('package-lock.json')}}-${{hashFiles('package.json')}}-${{hashFiles('packages/*/package.json')}}

      - name: Restore website dependencies
        uses: actions/cache@v3
        env:
          cache-name: npm-cache
        with:
          path: website/node_modules
          key: ${{runner.os}}-build-${{env.cache-name}}-${{hashFiles('website/package-lock.json')}}-${{hashFiles('website/package.json')}}

      - run: npm ci
        working-directory: website

      - run: npm run update-docs
        working-directory: website

      - run: git diff --exit-code
